
*/*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#2cbbc3;
    font-family:"Montserrat",sans-serif;
}

.navbar-flex {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-start;
    margin-top:.5em;
    margin-bottom:.5em;
    gap:2em;
    background:linear-gradient(#e1f1f2);
    height:5vh;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
    border-top-left-radius:15px;

}

.nav-logo {
    margin-left:.5em;
}
.nav-links {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:1em;
    font-weight:600;

}

.nav-links a:hover {
    box-shadow: 2px 3px 2px black;
    padding:.5em;
    border-radius:5px;
    background:rgba(255,255,255,0.4);
    backdrop-filter:blur(5px);
    text-decoration:underline;
    color:#ff9934;;
}

.nav-links a, .nav-links li {
    text-decoration:none;
    list-style:none;
    color:black;
}


.registration-titles h2{
    margin-top:.3em;
}

.petnames {
    margin-left:2em;
    margin-top:1em;
}

.registration-main-container {
    color:white;
    display:flex;
    flex-direction: column;
    background:#ff9934;
    width:fit-content;
    padding:5em;
    margin: 1em 2em;
    border-radius:8px;
    transition:300ms ease-in-out;
}

.registration-main-container:hover {
    box-shadow: 3px 4px 10px black;
    transform:translateY(-5px)

}*/


body {
    background-color:#fefae0;
    font-family:"Montserrat",sans-serif;
}

.btn {
    transition: 300ms ease-in-out;
}

